shiny>=0.9.0
uvicorn>=0.29
starlette>=0.37
pandas
numpy
matplotlib
joblib
scikit-learn
statsmodels
SQLAlchemy
psycopg2-binary
asyncpg
influxdb-client
httpx
aiohttp
python-dotenv
pydantic
prometheus-client
sentry-sdk
optuna
imbalanced-learn
lightgbm
shap
